<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                        <img src="../../../assets/images/Logo_BOSA.jpeg" class="img_logo" >
                    </a>
                    <!-- ***** Logo End ***** -->

                    <!-- ***** Barra busqueda ***** -->


                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a routerLink="/home" class="active">Inicio</a></li>
                        <li class="scroll-to-section"><a href="#">Categorias</a></li>
                        <li class="scroll-to-section"><a href="#w">Historial</a></li>
                        <li class="scroll-to-section"><a [routerLink]="'/login'">Login</a></li>
                        <li class="scroll-to-section"><button class="bCarrito" type="button">Carrito<i class="fa fa-shopping-cart" style="font-size: 10px; color:white;" aria-hidden="true"></i></button></li>
                        <!--<li class="submenu">
                            <a href="javascript:;">Pages</a>
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="products.html">Products</a></li>
                                <li><a href="single-product.html">Single Product</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:;">Features</a>
                            <ul>
                                <li><a href="#">Features Page 1</a></li>
                                <li><a href="#">Features Page 2</a></li>
                                <li><a href="#">Features Page 3</a></li>
                                <li><a rel="nofollow" href="https://templatemo.com/page/4" target="_blank">Template Page 4</a></li>
                            </ul>
                        </li>-->
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

