.img_logo{
    width: 180px;
    border-radius: 5px;
    
}

.bCarrito {
    padding: auto -10px;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: 200;
    background-color: #606060;
    width: 100%;
    border-radius: 1px;
    cursor: pointer;
  }
