 <!-- ** Footer Start ** -->
 <footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="first-item">
                    <div class="logo">
                        <img src="assets/images/Logo_BOSA.jpeg" alt="hexashop ecommerce templatemo" width="225">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Calle Tamaulipas #50, Col. Centro, Dolores Hidalgo, Guanajuato, CP 37800, Mexico</h4>
            </div>
            <div class="col-lg-4">
                <h4>Correo:</h4>
                <h4>UniformesBOSA@gmail.com.mx</h4>
            </div>
            <div class="col-lg-2">
                <h4>Telefono:</h4>
                <h4>418-123-4567</h4>
            </div>
            <div class="col-lg-12">
                <div class="under-footer">
                    <p>Copyright © 2022 UniformesBOSA Co., Ltd. All Rights Reserved. 
                    
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ** Footer End ** -->