<h1 mat-dialog-title>{{ data?.title }}</h1>
<mat-dialog-content>

<div class="login-form">
    <h1>AGREGAR/ EDITAR PRODUCTO</h1>
    <mat-card>
        <mat-card-content>
            <form  [formGroup] = "productoForm" (ngSubmit)="agregarProducto()" >
                <div class="row">
                    <div class="col-6 br-right">
                <mat-form-field class="full-width" >
                    <mat-label>Nombre del producto</mat-label>
                    <input type="text" formControlName="nombre" matInput >
                    <mat-error *ngIf="isValidField('nombre')">
                        {{ getErrorMessage('nombre') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" >
                    <mat-label>Descripcion</mat-label>
                    <textarea type="text" formControlName="descripcion" matInput ></textarea>
                    <mat-error *ngIf="isValidField('descripcion')">
                        {{ getErrorMessage('descripcion') }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Precio</mat-label>
                    <input type="number" formControlName="precio" matInput >
                    <mat-error *ngIf="isValidField('precio')">
                        {{ getErrorMessage('precio') }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width" >
                    <mat-label>Cantidad</mat-label>
                    <input type="number" formControlName="cantidad" matInput >
                    <mat-error *ngIf="isValidField('cantidad')">
                        {{ getErrorMessage('cantidad') }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width" >
                    <mat-label> Categoria</mat-label>
                <!-- <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" formControlName="categoria">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.nombre}}
                      </mat-option>
                    </mat-autocomplete>-->
                    <div *ngIf="categorias.length>0; then thenC else elseC"></div>
                    <ng-template #thenC>
                    <mat-select matNativeControl formControlName="categoria">
                        
                       
                        <mat-option  [value]=0 selected>Ninguno</mat-option>
                        <mat-option *ngFor="let item of categorias; let i = index" [attr.data-index]="i"  [value]="item.idCategoria" selected>{{item.nombre}}</mat-option>
                        
                    
                 
                      </mat-select> 
                    </ng-template>      
                      <ng-template #elseC>
                       
                        <mat-select matNativeControl formControlName="categoria">
                        
                       
                            <mat-option  [value]=0 selected>Ninguno</mat-option>
                            <mat-option [value]=1>Uniforme</mat-option>
                            <mat-option [value]=2>Calzado</mat-option>
                        
                     
                          </mat-select> 
                        
                      </ng-template>             
                      <mat-error *ngIf="isValidField('categoria')">
                        {{ getErrorMessage('categoria') }}
                    </mat-error>
                </mat-form-field>
                <div>
                   
                </div>
            </div>
            <div class="col-6">
                <div *ngIf="photoSelected.length>0; then thenBlock else elseBlock"></div>
                
              
<ng-template #thenBlock>
    <input type="file" class="file-upload" (change)="onPhotoSelected($event)" #photoInput hidden multiple  accept=".jpg,.png" >
    <div class="col-12" *ngFor="let item of photoSelected; let i = index" [attr.data-index]="i">
        <img [src]=" item || './../assets/images/SubirArch.webp'" class="imgR" (click)="photoInput.click()">
    </div>
</ng-template>
<ng-template #elseBlock>
    <div *ngIf="photosBD.length>0; then thenP else elseP"></div>
    <ng-template #thenP>
        <input type="file" class="file-upload" (change)="onPhotoSelected($event)" #photoInput hidden multiple accept=".png" >
        <div class="col-12" *ngFor="let item of photosBD; let i = index" [attr.data-index]="i">
            <img [src]=" './../'+item.rutaImagen || './../assets/images/SubirArch.webp'" class="imgR" (click)="photoInput.click()">
        </div>
    </ng-template>
    <ng-template #elseP>
        <div class="col-12" >
            <input type="file" class="file-upload" (change)="onPhotoSelected($event)" #photoInput hidden multiple  accept=".png" >
            <img [src]="  './../assets/images/SubirArch.webp'" class="imgR" (click)="photoInput.click()">
        </div>
        <div class="col-12" >
            <img [src]="  './../assets/images/SubirArch.webp'" class="imgR" (click)="photoInput.click()">
        </div>
        <div class="col-12" >
            <img [src]="'./../assets/images/SubirArch.webp'" class="imgR" (click)="photoInput.click()">
        </div>
    
    </ng-template>
</ng-template>
               
    <button type="submit" class="bRegistrar" mat-raised-button color="warm" [disabled]="productoForm.invalid">{{ titleButton }}</button>
            </div>
            </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
        Cerrar
    </button>
</mat-dialog-actions>