<!-- ***** Categorias Start ***** -->
<br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-12 justify-content-center" style="text-align: center;">
            <div class="section-heading">
                <h1><b>Categorias</b></h1>
            </div>
        </div>
    </div>
</div><br>
<div class="main-banner" style="padding-top: 0;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Mas Vendidos</h4>
                                        <div class="main-border-button">
                                            <a href="#">Ver Más!</a>
                                        </div>
                                    </div>
                                    <img src="../../../assets/images/imagen_ejemplo2.jpg" height="400">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Nuevos</h4>
                                        <div class="main-border-button">
                                            <a href="#">Ver Más!</a>
                                        </div>
                                    </div>
                                    <img src="../../../assets/images/imagen_ejemplo2.jpg" height="400">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Balones</h4>
                                        <div class="main-border-button">
                                            <a href="#">Ver Más!</a>
                                        </div>
                                    </div>
                                    <img src="../../../assets/images/imagen_ejemplo2.jpg" height="400">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Accesorios</h4>
                                        <div class="main-border-button">
                                            <a href="#">Ver Más!</a>
                                        </div>
                                    </div>
                                    <img src="../../../assets/images/imagen_ejemplo2.jpg" height="400">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Categorias End ***** -->


<br>
<div class="col-lg-12">
    <div class="right-content">
        <div    >
            <div *ngFor="let Categoria of ListarCategoriass">
                <div class="col-lg-6">
                    <div class="right-content">
                        <div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <img src="../../../{{Categoria.rutaImagen}}" height="200">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image"><br><br><br>
                                    <div class="thumb">                                    
                                        <h1>{{Categoria.nombre}}</h1>
                                    </div>
                                    <div class="thumb">                                    
                                        <h1>$ {{Categoria.precio}}</h1>
                                    </div>
                                    <div class="right-content">
                                        <button (click)="direccionarDetalle(Categoria.idProducto!)"><i class="fa fa-eye"></i></button>
                                    </div>
                                </div>
                            </div>                  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br><br>

<div>
    s
</div>
<!-- ***** Categorias End ***** -->
