<div class="row contenedorTitulo ">
    <div class="col-3 col_Ti">
        <h2><a class="tituloRI" routerLink="/login">Iniciar de sesión</a></h2>


    </div>
    <div class="col-3 col_Ti active">
        <h2><a class="tituloRI" routerLink="/signup">Registro</a></h2>

    </div>
    <div class="col-6 col_Ti">

    </div>
</div>

<div class="login-form">
    <mat-card [class.mat-elevation-z8]="true">
        <mat-card-content>
            <h1>Inicio de Sesión</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <mat-form-field class="full-width" apperance="outline">
                    <mat-label>Usuario</mat-label>
                    <input type="text" formControlName="username" matInput autocomplete="new-password">
                    <!--<mat-error *ngIf="isValidField('username')">
                        {{ getErrorMessage('username') }}
                    </mat-error>-->
                    <mat-error>
                        {{ baseForm.getErrorMessage(loginForm.get('username')) }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" apperance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput
                        autocomplete="new-password">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                        <mat-icon> {{ hide ? 'visibility_off' : 'visibility' }} </mat-icon>
                    </button>
                    <!--<mat-error *ngIf="isValidField('password')">
                        {{ getErrorMessage('password') }}
                    </mat-error>-->
                    <mat-error>
                        {{ baseForm.getErrorMessage(loginForm.get('password')) }}
                    </mat-error>
                </mat-form-field>

                <div>
                    <a class="accountRecovery" href="./accountRecovery">
                        <button mat-button color="primary" (click)="forgotPasswordAction()">¿Tienes problemas para
                            iniciar sesión?</button>
                    </a>
                </div>
                <br>
                <button type="submit" mat-raised-button color="warm" [disabled]="loginForm.invalid">Acceder</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>