<div class="row contenedorTitulo ">
    <div class="col-3 col_Ti">
      <h2><a class="tituloRI" href="/login">Iniciar de sesión</a></h2>
  
  
    </div>
    <div class="col-3 col_Ti active">
      <h2><a class="tituloRI" href="/signup">Registro</a></h2>
  
    </div>
    <div class="col-6 col_Ti">
  
    </div>
</div>

<div class="login-form">
    <mat-card [class.mat-elevation-z8]="true">
        <mat-card-content>
            <h1>Inicio de Sesion</h1>
            <form [formGroup] = "loginForm" (ngSubmit)="onLogin()">
                <mat-form-field class="full-width" apperance="outline">
                    <mat-label>Usuario</mat-label>
                    <input type="text" formControlName="username" matInput autocomplete="new-password">
                    <mat-error *ngIf="isValidField('username')">
                        {{ getErrorMessage('username') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" apperance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" formControlName="password" matInput  autocomplete="new-password">
                    <mat-error *ngIf="isValidField('password')">
                        {{ getErrorMessage('password') }}
                    </mat-error>
                </mat-form-field>

                <div>
                    <a class="accountRecovery" href="./accountRecovery">
                        <button mat-button color="primary" (click)="openDialog()">¿Tienes problemas para iniciar sesión?</button>
                    </a>
                </div>
                <br>
                <button type="submit" mat-raised-button color="warm" [disabled]="loginForm.invalid">Acceder</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>